<!DOCTYPE html><html lang="en"><head><title>Dragonstorm</title><meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <meta name="viewport" content="width=device-width, initial-scale=1"> <link href="assets/css/bootstrap.min.css" rel="stylesheet"><link href="assets/css/design.css" rel="stylesheet"></head> <body> <div id="header"></div> <div id="corps">
include("layout/connected_menu.html");
<div id="textposition"><div id="principale">
include("warnings/warning_layout.html");
$VIEW_CONTENT;</div></div> </div> <div id="footer"></div> <script src="assets/js/jquery.js"></script> <script src="assets/js/bootstrap.min.js"></script> <script src="assets/js/main.js"></script></body></html>