<fieldset>
	<legend class="dragon_name"><span class="dragon_name_text">$name;</span> <span class="name_button"><button class="btn btn-link" onclick="spawnNameChange($id;)">Change the Dragon name</button></span></legend>
	<div>
		<img src="assets/images/picture_$age;.png" style="float: left;margin-top:10px;"/>
		<h1 style="float: left;margin-left: 10px;">Regular Dragon</h1>
	</div>
	<div style="clear: both;"></div>
	<hr style="margin-top: 25px; clear: both;" width="80%"/>
	<div>
		<h1>Attributes:</h1>
		Xal: $xp;
		<div class="row">
			<div class="col-md-2">Stamina: 0</div>
			<div class="col-md-2">Agility: 0</div>
			<div class="col-md-2">Strength: 0</div>
			<div class="col-md-2">Intelligence: 0</div>
		</div>
	</div>
</fieldset>