<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>EIP Student Finder</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="./DataTables-1.10.4/media/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="./jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="./DataTables-1.10.4/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="./dataTables.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="css/main.css" />
	<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <header>
        <h1>
            Are you looking for members?
        </h1>
        <h2>We built an easy way to show who is available.</h2>
        <h2>We hope you will like it.</h2>
    </header>
    <div id="main">
        <section>
            $tab;
        </section>
    </div>
    <aside>
        <section>
            Vous êtes intéressés pour travailler avec des objets connectés?
            Vous avez des compétences en MonCul.js ou en Zizi# ?
            Nous sommes <a href="http://blog.dragonstorm.fr">Aldéo</a> et nous recrutons !
        </section>
    </aside>

    <script src="js/main.js"></script>
</body>
</html>
