$error;
Here, you can write a new ticket. Please chose the best category and subject for it
<hr width="80%" />
<form role="form" action="#" method="POST">
	<div class="form-group">
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="category">
					<option value="-1">Category</option>
					<option value="0">Problem</option>
					<option value="1">Question</option>
					<option value="2">Suggestion</option>
				</select>
			</div>
			<div class="col-md-9">
				<input type="text" class="form-control" placeholder="Subject" name="subject" value="$subject;">
			</div>
		</div>
		<textarea class="form-control" rows="5" placeholder="Message" style="margin-bottom: 10px;" name="message">$message;</textarea>
		<button type="submit" class="btn btn-primary">Send the ticket</button>
	</div>
</form>